{% extends "layout.html" %}
{% block content %}


<div class="row">
	<div class="content-box">
	  <h3>Rodar Jogos</h3>
	  <p>O que deseja fazer?</p>
	  
	<div class="aling-div">
	  <ul class="list-group">
		<li class="list-group-item"><a href="/fileform" class="link_thumb">
		  <table class="table table-striped">
			  <tr>
				  <td><i class="fas fa-cloud-upload-alt fa-2x"></i></td>
				  <td style="text-align: right;"><strong>Carregar Planilha</strong></td>
			  </tr>
		  </table>
		</a></li>
		<li class="list-group-item"><a href="/list_gen" class="link_thumb">
		  <table class="table table-striped">
			  <tr>
				  <td><i class="fas fa-cubes fa-2x"></i></td>
				  <td style="text-align: right;"><strong>Gerar Jogos Automaticamente</strong> 
			  </tr>
		  </table>
	  </a></li>
	  
	</div>
  
	<div class="aling-back">
		  <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
	</div>
  
  </div>
  
{% endblock content %}

