{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Gerar Jogos</h3>
              </div>

            
			  <div class="aling-div">
				<ul class="list-group">
				  <li class="list-group-item"><a href="/construction" class="link_thumb">
					<table class="table table-striped">
						<tr>
							<td><i class="fas fa-folder-plus fa-2x"></i></td>
							<td style="text-align: right;"><strong>Carregar um Jogo?</i></strong> 
						</tr>
					  </table>
				  </a></li>
				  </ul>
				  </div>

		
				  <div class="aling-div">
					<ul class="list-group">
					  <li class="list-group-item"><a href="/list_gen" class="link_thumb">
						<table class="table table-striped">
							<tr>
								<td><i class="far fa-clipboard fa-2x"></td>
								<td style="text-align: right;"><strong>Gerar jogos manualmente</i></strong> 
							</tr>
						  </table>
					  </a></li>
					  </ul>
					  </div>


					  <!-- <div class="aling-div">
						<ul class="list-group">
						  <li class="list-group-item"><a href="/list_gen_change" class="link_thumb">
							<table class="table table-striped">
								<tr>
									<td><i class="fas fa-star fa-2x"></td>
									<td style="text-align: right;"><strong>Gerar jogos automáticos_1</i></strong> 
								</tr>
							  </table>
						  </a></li>
						  </ul>
						  </div> -->

						  <div class="aling-div">
							<ul class="list-group">
							  <li class="list-group-item"><a href="/list_gen_change_2" class="link_thumb">
								<table class="table table-striped">
									<tr>
										<td><i class="fas fa-star fa-2x"></td>
										<td style="text-align: right;"><strong>Gerar jogos automáticos</i></strong> 
									</tr>
								  </table>
							  </a></li>
							  </ul>
							  </div>
  
	<div class="aling-back">
		  <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
	</div>
  <br>
 </div>
 
</div>




  
{% endblock content %}

