{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Jogo Realizado</h3>
              </div>
              <!-- /.card-header -->
              <input type ="hidden" name="id_proj" value="{{proj_id}}">
              <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row">
                  <div class="col-sm-12 col-md-6">
                </div><div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting sorting_asc"></th>
                    {% for cont in title_read %}
                    <th class="sorting">COL_{{cont}}</th>
                    {% endfor %}
                  </tr>
                  </thead>
                  <tbody>
                    {% for num in read %}
                      <tr class="odd">
                        <td>-</td>
                        {% for cont in title_read %}
                        <td>{{num[cont-1]}}</td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
            </div>
            <div class="row"><div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Generated Games</div></div>
              </ul></div>
              </div>
              <!-- /.card-body -->
            </div>
        </div>

        <div class="alinha-cols">
          <div class="aling-div">
            <ul class="list-group">
              <form action="/fillgen_num" method="post" enctype="multipart/form-data">
                <!-- <label for="dezena">Quantidade de Dezenas </label><br>
                <select id="dezena" name="dezena" class="">
                  <option value="numero-dezena">-</option>
                  {% for read in list_cont %}
                    <option value="{{read}}">{{read}}</option>
                  {% endfor %}
                </select> -->
                <label for="lname">Escolha suas Dezenas</label>
                <input type="text" id="number-dez" name="number-dez" placeholder="ex: 10;20;30">
                <br>
                <br>
                <p>Atenção! A quantidade de colunas não pode ultrapassar a quantidade de Dezena</p>
                <!-- <label for="opt-rep">Deseja Números não Repetidos? </label><br>
                <select id="opt-rep" name="opt-rep">
                  <option value="test-opt-rep">-</option>
                    <option value="sim">Sim</option>
                    <option value="indif">Indiferente</option>
                </select> -->
            <br>
                <div>
                  <input type="submit" value="Gerar Jogos" id="alinha-button">
                </div>

              </form>
            <ul>
          </div>
        </div>

        </div>

        

    <div class="aling-div">
	  <ul class="list-group">
		<li class="list-group-item"><a href="/download" class="link_thumb">
		  <table class="table table-striped">
			  <tr>
				  <td><i class="far fa-clipboard fa-2x"></td>
				  <td style="text-align: right;"><strong>Deseja gerar um Excel?</i></strong> 
			  </tr>
            </table>
        </a></li>
        </div>

              <div class="aling-back" id="back-i">
                <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
            </div>
            
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>




{% endblock content %}
