{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Defina como será gerado seus jogos</h3>
              </div>
             

        <div class="alinha-cols">
          <div class="aling-div">
            <ul class="list-group">
              <form action="/fillgen" method="post" enctype="multipart/form-data">
                <label for="lname">Escolha suas Dezenas</label>
                <input type="text" id="number-dez" name="number-dez" placeholder="ex: 10;20;30">
                <br>
                <label for="linha">Quantidade de Linhas </label><br>
                <select id="linha" name="linha">
                  <option value="numero-linha">-</option>
                  {% for read in list_cont %}
                    <option value="{{read}}">{{read}}</option>
                  {% endfor %}
                </select>
                <br><br>
                <p>Atenção! A quantidade de colunas não pode ultrapassar a quantidade de Dezena</p>
            <br>
                <div>
                  <input type="submit" value="Gerar Jogos" id="alinha-button">
                </div>

              </form>
            <ul>
          </div>
        </div>

        </div>

              <div class="aling-back" id="back-i">
                <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
            </div>
            
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>




{% endblock content %}


