{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Jogo Realizado</h3>
            </div>
            <!-- /.card-header -->
            <input type="hidden" name="id_proj" value="{{proj_id}}">
            <div class="card-body">
              <div class="dataTables_wrapper dt-bootstrap4">
                <div id="example1_wrapper" class="row">
                  <div class="col-sm-12">
                    <table class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                      aria-describedby="example2_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting sorting_asc"></th>
                          {% for cont in title_read %}
                          <th class="sorting">COL_{{cont + 1}}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for num in read %}
                        <tr class="odd">
                          <td>-</td>
                          {% for cont in title_read %}
                          <td>{{num[cont]}}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div id="example2_wrapper" class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Generated Games
                    </div>
                  </div>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </section>

    <section class="content">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-12">
          <div id="example3_wrapper" class="card">
              <ul class="list-group">
                <form action="/fillgen_change_num" method="post" enctype="multipart/form-data">
      
                    <label for="dez1"><strong>Dezenas Principais</strong></label><br>
                    <input type="text" name="dez1" value="{{dez1_read}}">
                    <br><br>

                    <div class="form-group">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" name="lotom">
                        <label class="custom-control-label" for="customSwitch1">Lotomania</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2" name="mega">
                        <label class="custom-control-label" for="customSwitch2">MegaSena</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" name="lotof">
                        <label class="custom-control-label" for="customSwitch3">LotoFácil</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch4" name="milho-dupla">
                        <label class="custom-control-label" for="customSwitch4">Milhonária/DuplaSena</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5" name="quin-time">
                        <label class="custom-control-label" for="customSwitch5">Quina/TimeMania</label>
                      </div>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch6" name="dia">
                        <label class="custom-control-label" for="customSwitch6">DiaDeSorte</label>
                      </div>
                    </div>

                    <label for="coluna"><strong>Quantidade de Colunas </strong></label><br>
                    <input type="text" name="coluna" value="{{qt_col}}">
                    <br><br>
                    <label for="dez2"><strong>Dezenas Extras </strong></label><br>
                    <input type="text" name="dez2" value="{{dez2_read}}">
                    <br><br>
                    <label for="coluna-del"><strong>Deletar Colunas </strong></label><br>
                    <select id="coluna-del" name="coluna-del">
                      <option value="N">Não</option>
                      <option value="S">Sim</option>
                    </select>
                    <br><br>
                  
                    <div>

                      <div>
                        <input type="submit" value="Gerar Jogos" id="alinha-button">
                      </div>

                </form>
                <ul>
            </div>
          </div>
        </div>
      </div>
   </section>

  <section>
    <div class="container-fluid">
      <div class="row" >
        <div class="col-12">
          <div class="aling-div">
            <ul class="list-group">
              <li class="list-group-item"><a href="/download" class="link_thumb">
                  <table class="table table-striped">
                    <tr>
                      <td><i class="far fa-clipboard fa-2x"></td>
                      <td style="text-align: right;"><strong>Deseja gerar um Excel?</i></strong>
                    </tr>
                  </table>
                </a></li>
            </ul>
          </div>

          <div class="aling-back" id="back-i">
            <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
          </div>

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</section>

{% endblock content %}