{% extends "layout.html" %}
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Defina como será gerado seus jogos</h3>
            </div>

            <div class="alinha-cols">
              <div class="aling-div">
                <ul class="list-group">
                  <form action="/fillgen" method="post" enctype="multipart/form-data">
                    <label for="dez"><strong>Dezenas Principais</strong></label><br>
                    <input type="text" name="dez" value="{{dez_read}}">
                    <br><br>
                   
                      <div class="form-group">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1" name="lotom">
                          <label class="custom-control-label" for="customSwitch1">Lotomania</label>
                        </div>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch2" name="mega">
                          <label class="custom-control-label" for="customSwitch2">MegaSena</label>
                        </div>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch3" name="lotof">
                          <label class="custom-control-label" for="customSwitch3">LotoFácil</label>
                        </div>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch4" name="milho-dupla">
                          <label class="custom-control-label" for="customSwitch4">Milhonária/DuplaSena</label>
                        </div>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch5" name="quin-time">
                          <label class="custom-control-label" for="customSwitch5">Quina/TimeMania</label>
                        </div>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch6" name="dia">
                          <label class="custom-control-label" for="customSwitch6">DiaDeSorte</label>
                        </div>
                      </div>
                   
                    <label for="numero-linha"><strong>Quantidade de Linhas </strong></label><br>
                    <input type="text" name="numero-linha">
                    <br><br>
                    <div>
                      <input type="submit" value="Gerar Jogos" id="alinha-button">
                    </div>
                  </form>
                  <ul>
              </div>
            </div>
          </div>

          <div class="aling-back" id="back-i">
            <a href="/"><i class="fas fa-angle-double-left fa-2x"></i></a>
          </div>

          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


{% endblock content %}